html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
body {
  margin: 0;
  font-family: Inter,Arial,sans-serif;
    font-style: normal;
}

.page {
  max-width: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  padding: 0;
  -mox-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}